[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/json-schema-validator"]
	path = external/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/Angelscript"]
	path = external/Angelscript
	url = https://github.com/codecat/angelscript-mirror.git
