[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
	shallow = 1
[submodule "external/json-schema-validator"]
	path = external/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
	shallow = 1
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = 1
[submodule "external/Angelscript"]
	path = external/Angelscript
	url = https://github.com/codecat/angelscript-mirror.git
	shallow = 1
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "external/libnyquist"]
	path = external/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
